/* src/index.css */
body {
  margin: 0;
  padding: 0;
  display: block; /* Changes from flex to block to allow margin auto to work */
  background-color: #f4f7f6;
  min-height: 100vh;
}

#root {
  width: 100%;
}